* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;

  /* common-btn */

   .common-btn {
    background-color: #1D4ED8;
    padding: 8px 25px;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
 .button-2 {
    background-color: #1D4ED8;
    padding: 15px 45px;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8%;
  background-color: rgb(255, 255, 255);
}

.manu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.manu-color a {
  text-decoration: none;
  color: #575757;
 }


header {

  /* background-image:  */

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(./images/banner.jpg);
  height: 90vh;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content{
  display: flex;
  flex-direction: column;
  align-items:center;
  color: white;
  gap: 25px;

}

.header-content h1{
  font-weight: 700;
  font-size: 70px;
  display: flex;
  color: rgb(7, 255, 110);
}

.header-text{
  display: flex;
  margin-bottom: 20%;
  font-size: 22px;
  max-width: 800px;
  text-align: center;
}

/* ----Speakers---- */


