* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;

  /* common-btn */

   .common-btn {
    background-color: #1D4ED8;
    padding: 8px 25px;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
 .button-2 {
    background-color: #1D4ED8;
    padding: 15px 45px;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8%;
  background-color: rgb(255, 255, 255);
}

.manu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.manu-color a {
  text-decoration: none;
  color: #575757;
 }


header {

  /* background-image:  */

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(./images/banner.jpg);
  height: 90vh;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content{
  display: flex;
  flex-direction: column;
  align-items:center;
  color: white;
  gap: 25px;

}

.header-content h1{
  font-weight: 700;
  font-size: 70px;
  display: flex;
  color: rgb(7, 255, 110);
}

.header-text{
  display: flex;
  margin-bottom: 20%;
  font-size: 22px;
  max-width: 800px;
  text-align: center;
}

/* ----Speakers CSS---- */

.speaker-section{
  padding: 80px 24px;
}

.section-title{
  text-align: center;
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 48px;
}

.speaker-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 24px;
  max-width: 900px;
  margin: auto;

}

.speaker-grid .speaker-card{
  /* width: 100%; */
  background-color:  rgb(255, 255, 255);
  border: 2px solid #E5E7EB; 
  padding:  1px;
  border-radius: 12px;
  margin: 10px;
  text-align: left;
}
 
.speaker-card h6{
  color:#2563EB
}
.speaker-card h2{
  color:#0D1B2A
}

.speaker-card p{
  color:#575757;

}
.speaker-info{
  padding: 18px;
  gap: 5px;
}
